In [1]:
import pandas as pd
from sklearn import datasets
iris = datasets.load_iris()

In [2]:
dir(iris)

['DESCR',
 'data',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [3]:
df = pd.DataFrame(iris.data, columns = iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [4]:
df['target'] = iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [5]:
df['flower_name'] = df['target'].apply(lambda x: iris.target_names[x])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [6]:
df[:50]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
5,5.4,3.9,1.7,0.4,0,setosa
6,4.6,3.4,1.4,0.3,0,setosa
7,5.0,3.4,1.5,0.2,0,setosa
8,4.4,2.9,1.4,0.2,0,setosa
9,4.9,3.1,1.5,0.1,0,setosa
10,5.4,3.7,1.5,0.2,0,setosa
11,4.8,3.4,1.6,0.2,0,setosa
12,4.8,3.0,1.4,0.1,0,setosa
13,4.3,3.0,1.1,0.1,0,setosa
14,5.8,4.0,1.2,0.2,0,setosa
15,5.7,4.4,1.5,0.4,0,setosa
16,5.4,3.9,1.3,0.4,0,setosa
17,5.1,3.5,1.4,0.3,0,setosa
18,5.7,3.8,1.7,0.3,0,setosa
19,5.1,3.8,1.5,0.3,0,setosa
20,5.4,3.4,1.7,0.2,0,setosa
21,5.1,3.7,1.5,0.4,0,setosa
22,4.6,3.6,1.0,0.2,0,setosa
23,5.1,3.3,1.7,0.5,0,setosa
24,4.8,3.4,1.9,0.2,0,setosa
25,5.0,3.0,1.6,0.2,0,setosa
26,5.0,3.4,1.6,0.4,0,setosa
27,5.2,3.5,1.5,0.2,0,setosa
28,5.2,3.4,1.4,0.2,0,setosa
29,4.7,3.2,1.6,0.2,0,setosa
30,4.8,3.1,1.6,0.2,0,setosa
31,5.4,3.4,1.5,0.4,0,setosa
32,5.2,4.1,1.5,0.1,0,setosa
33,5.5,4.2,1.4,0.2,0,setosa
34,4.9,3.1,1.5,0.2,0,setosa
35,5.0,3.2,1.2,0.2,0,setosa
36,5.5,3.5,1.3,0.2,0,setosa
37,4.9,3.6,1.4,0.1,0,setosa
38,4.4,3.0,1.3,0.2,0,setosa
39,5.1,3.4,1.5,0.2,0,setosa
40,5.0,3.5,1.3,0.3,0,setosa
41,4.5,2.3,1.3,0.3,0,setosa
42,4.4,3.2,1.3,0.2,0,setosa
43,5.0,3.5,1.6,0.6,0,setosa
44,5.1,3.8,1.9,0.4,0,setosa
45,4.8,3.0,1.4,0.3,0,setosa
46,5.1,3.8,1.6,0.2,0,setosa
47,4.6,3.2,1.4,0.2,0,setosa
48,5.3,3.7,1.5,0.2,0,setosa
49,5.0,3.3,1.4,0.2,0,setosa

In [7]:
df[47:52]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower_name
47,4.6,3.2,1.4,0.2,0,setosa
48,5.3,3.7,1.5,0.2,0,setosa
49,5.0,3.3,1.4,0.2,0,setosa
50,7.0,3.2,4.7,1.4,1,versicolor
51,6.4,3.2,4.5,1.5,1,versicolor

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(iris.data, iris.target, test_size = 0.3)

In [9]:
from sklearn.svm import SVC
model =  SVC(gamma = 'auto')
model.fit(X_train, y_train)
model.score(X_test, y_test)

1.0

In [10]:
from sklearn.model_selection import cross_val_score

In [11]:
cross_val_score(SVC(kernel = 'linear', C = 10, gamma = 'auto'), iris.data, iris.target, cv= 5)

array([1.        , 1.        , 0.9       , 0.96666667, 1.        ])

In [12]:
cross_val_score(SVC(kernel = 'rbf', C = 10, gamma = 'auto'), iris.data, iris.target, cv= 5)

array([0.96666667, 1.        , 0.96666667, 0.96666667, 1.        ])

In [13]:
cross_val_score(SVC(kernel = 'rbf', C = 20, gamma = 'scale'), iris.data, iris.target, cv= 5)

array([0.96666667, 1.        , 0.96666667, 0.96666667, 1.        ])

In [15]:
from sklearn.model_selection import GridSearchCV

clf = GridSearchCV(SVC(gamma = 'auto'),{
    'C': [1,10,20],
    'kernel':['rbf', 'linear']
},cv = 5,return_train_score = False)

clf.fit(iris.data, iris.target)
clf.cv_results_

{'mean_fit_time': array([0.00159807, 0.00100079, 0.00099669, 0.00079532, 0.00100112,
        0.0006001 ]),
 'std_fit_time': array([4.88968860e-04, 6.32713006e-04, 6.34198701e-04, 7.41195415e-04,
        2.95869676e-06, 4.89981191e-04]),
 'mean_score_time': array([0.00080018, 0.00059562, 0.00040245, 0.0003953 , 0.00040236,
        0.00039983]),
 'std_score_time': array([0.00040009, 0.00048638, 0.00049293, 0.00048419, 0.00049289,
        0.00048969]),
 'param_C': masked_array(data=[1, 1, 10, 10, 20, 20],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'linear', 'rbf', 'linear', 'rbf', 'linear'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 20, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'linear'}],
 'split0_test_score': array([0.96666667, 0.96666667, 0.96666667, 1.        , 0.96666667,
        1.        ]),
 'split1_test_score': array([1., 1., 1., 1., 1., 1.]),
 'split2_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.9       , 0.9       ,
        0.9       ]),
 'split3_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.96666667, 0.96666667,
        0.93333333]),
 'split4_test_score': array([1., 1., 1., 1., 1., 1.]),
 'mean_test_score': array([0.98      , 0.98      , 0.98      , 0.97333333, 0.96666667,
        0.96666667]),
 'std_test_score': array([0.01632993, 0.01632993, 0.01632993, 0.03887301, 0.03651484,
        0.0421637 ]),
 'rank_test_score': array([1, 1, 1, 4, 5, 6])}

In [16]:
df = pd.DataFrame(clf.cv_results_)
df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.001598,0.000489,0.000800,0.000400,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
1,0.001001,0.000633,0.000596,0.000486,1,linear,"{'C': 1, 'kernel': 'linear'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
2,0.000997,0.000634,0.000402,0.000493,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
3,0.000795,0.000741,0.000395,0.000484,10,linear,"{'C': 10, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.966667,1.0,0.973333,0.038873,4
4,0.001001,0.000003,0.000402,0.000493,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.966667,1.0,0.900000,0.966667,1.0,0.966667,0.036515,5
5,0.000600,0.000490,0.000400,0.000490,20,linear,"{'C': 20, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.933333,1.0,0.966667,0.042164,6

In [20]:
df[['param_C', 'param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0       1          rbf         0.980000
1       1       linear         0.980000
2      10          rbf         0.980000
3      10       linear         0.973333
4      20          rbf         0.966667
5      20       linear         0.966667

In [21]:
dir(clf)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_check_is_fitted',
 '_check_n_features',
 '_estimator_type',
 '_format_results',
 '_get_param_names',
 '_get_tags',
 '_more_tags',
 '_pairwise',
 '_repr_html_',
 '_repr_html_inner',
 '_repr_mimebundle_',
 '_required_parameters',
 '_run_search',
 '_validate_data',
 'best_estimator_',
 'best_index_',
 'best_params_',
 'best_score_',
 'classes_',
 'cv',
 'cv_results_',
 'decision_function',
 'error_score',
 'estimator',
 'fit',
 'get_params',
 'iid',
 'inverse_transform',
 'multimetric_',
 'n_features_in_',
 'n_jobs',
 'n_splits_',
 'param_grid',
 'pre_dispatch',
 'predict',
 'predict_log_proba',
 'predict_proba',
 'refit',
 'refit_time_',
 'return_train_score',
 'score',
 'scorer_',
 'scoring',
 'set_params',
 'transform',
 'verbose']

In [22]:
clf.best_score_

0.9800000000000001

In [23]:
clf.best_params_

{'C': 1, 'kernel': 'rbf'}

In [31]:
from sklearn.model_selection import RandomizedSearchCV

rs = RandomizedSearchCV(SVC(gamma = 'auto'),{
    'C': [1,10,20],
    'kernel':['rbf', 'linear']
},cv = 5,return_train_score = False, n_iter = 2)

rs.fit(iris.data, iris.target)
rs.cv_results_

{'mean_fit_time': array([0.00159907, 0.00080113]),
 'std_fit_time': array([0.00048235, 0.00040057]),
 'mean_score_time': array([0.00079637, 0.00059948]),
 'std_score_time': array([0.00039825, 0.00048947]),
 'param_kernel': masked_array(data=['rbf', 'rbf'],
              mask=[False, False],
        fill_value='?',
             dtype=object),
 'param_C': masked_array(data=[20, 1],
              mask=[False, False],
        fill_value='?',
             dtype=object),
 'params': [{'kernel': 'rbf', 'C': 20}, {'kernel': 'rbf', 'C': 1}],
 'split0_test_score': array([0.96666667, 0.96666667]),
 'split1_test_score': array([1., 1.]),
 'split2_test_score': array([0.9       , 0.96666667]),
 'split3_test_score': array([0.96666667, 0.96666667]),
 'split4_test_score': array([1., 1.]),
 'mean_test_score': array([0.96666667, 0.98      ]),
 'std_test_score': array([0.03651484, 0.01632993]),
 'rank_test_score': array([2, 1])}

In [32]:
pd.DataFrame(rs.cv_results_)[['param_C', 'param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0      20          rbf         0.966667
1       1          rbf         0.980000

# Hyper Paramter tuning using different algorithms

In [33]:
from sklearn import svm
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [34]:
model_params = {
    'svm': {
        'model': svm.SVC(gamma='auto'),
        'params' : {
            'C': [1,10,20],
            'kernel': ['rbf','linear']
        }  
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [1,5,10]
        }
    },
    'logistic_regression' : {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10]
        }
    }
}

In [35]:
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(iris.data, iris.target)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })

In [36]:
scores

[{'model': 'svm',
  'best_score': 0.9800000000000001,
  'best_params': {'C': 1, 'kernel': 'rbf'}},
 {'model': 'random_forest',
  'best_score': 0.9533333333333334,
  'best_params': {'n_estimators': 5}},
 {'model': 'logistic_regression',
  'best_score': 0.9666666666666668,
  'best_params': {'C': 5}}]

In [38]:
pd.DataFrame(scores, columns = ['model','best_score','best_params'])

                 model  best_score                best_params
0                  svm    0.980000  {'C': 1, 'kernel': 'rbf'}
1        random_forest    0.953333        {'n_estimators': 5}
2  logistic_regression    0.966667                   {'C': 5}